.sellSelectVersionModal {
  background-color: #3a606e;
  width: 550px;
  top: 100px;
  margin-left: -195px;
  color: white;
  padding: 24px 24px;
  font-size: 14pt;
  max-height: 400px;
  overflow: auto;
}

.cardsInSale .title {
  font-size: 14pt;
  color: #19647e;
}

.cardsInSale .finishSale {
  margin: 20px 0 20px auto;
  display: flex;
}

.searchContainer {
  text-align: center;
}

.searchContainer .MuiTextField-root {
  width: 400px;
  max-width: 100%;
}
